# ignored files
*.class
*.DS_Store
.classpath
.project
breadcrumb.txt

# ignored directories
.gradle/
build/
**/build/
dist/

# ignore subdirs but not files
package/java_runtime/mac/*/ 
package/java_runtime/win/*/

bin/
.settings/

tools/PSICAT/lib/**
tools/PSICAT/griffon-app/resources/iconic-png
tools/PSICAT/staging
tools/PSICAT/target

tools/SchemeEditor/lib/**
tools/SchemeEditor/staging

/bin/


