<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleAllowMixedLocalizations</key>
	<string>true</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>PSICAT</string>
	<key>CFBundleGetInfoString</key>
	<string>1.0.1</string>
	<key>CFBundleIconFile</key>
	<string>PSICAT.icns</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>PSICAT</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0.1</string>
	<key>NSHighResolutionCapable</key>
    <true/>
    <key>NSSupportsAutomaticGraphicsSwitching</key>
    <true/>
	<key>LSEnvironment</key>
	<dict>
		<key>JAVA_HOME</key>
		<string>Contents/Frameworks/jre8/Contents/Home</string>
	</dict>
	<key>JavaX</key>
	<dict>
		<key>ClassPath</key>
		<array>
			<string>$JAVAROOT/PSICAT.jar</string>
			<string>$JAVAROOT/ant-1.7.1.jar</string>
			<string>$JAVAROOT/ant-launcher-1.7.1.jar</string>
			<string>$JAVAROOT/aopalliance-1.0.jar</string>
			<string>$JAVAROOT/batik-awt-util-1.7.jar</string>
			<string>$JAVAROOT/batik-svggen-1.7.jar</string>
			<string>$JAVAROOT/batik-util-1.7.jar</string>
			<string>$JAVAROOT/commons-codec-1.6.jar</string>
			<string>$JAVAROOT/coretools-1.0.1.jar</string>
			<string>$JAVAROOT/coretools-data-1.0.1.jar</string>
			<string>$JAVAROOT/coretools-graphics-1.0.1.jar</string>
			<string>$JAVAROOT/coretools-misc-1.0.1.jar</string>
			<string>$JAVAROOT/coretools-model-1.0.1.jar</string>
			<string>$JAVAROOT/coretools-scene-1.0.1.jar</string>
			<string>$JAVAROOT/coretools-ui-1.0.1.jar</string>
			<string>$JAVAROOT/dis-base-1.0.1.jar</string>
			<string>$JAVAROOT/dis-ui-1.0.1.jar</string>
			<string>$JAVAROOT/geology-base-1.0.1.jar</string>
			<string>$JAVAROOT/geology-ui-1.0.1.jar</string>
			<string>$JAVAROOT/glazedlists_java15-1.9.0.jar</string>
			<string>$JAVAROOT/google-analytics-java-1.1.2.jar</string>
			<string>$JAVAROOT/google-collections-1.0-rc2.jar</string>
			<string>$JAVAROOT/griffon-rt-0.2.jar</string>
			<string>$JAVAROOT/groovy-all-1.6.4.jar</string>
			<string>$JAVAROOT/guice-2.0.jar</string>
			<string>$JAVAROOT/guice-multibindings-2.0.jar</string>
			<string>$JAVAROOT/httpclient-4.3.jar</string>
			<string>$JAVAROOT/httpcore-4.3.jar</string>
			<string>$JAVAROOT/itext-2.1.7-patched.jar</string>
			<string>$JAVAROOT/jcl-over-slf4j-1.7.5.jar</string>
			<string>$JAVAROOT/jline-0.9.94.jar</string>
			<string>$JAVAROOT/json-20140107.jar</string>
			<string>$JAVAROOT/junit-3.8.2.jar</string>
			<string>$JAVAROOT/jxl-2.6.3.jar</string>
			<string>$JAVAROOT/log4j-1.2.17.jar</string>
			<string>$JAVAROOT/miglayout-3.7.jar</string>
			<string>$JAVAROOT/opencsv-2.0.1.jar</string>
			<string>$JAVAROOT/serializer-2.7.1.jar</string>
			<string>$JAVAROOT/slf4j-api-1.7.5.jar</string>
			<string>$JAVAROOT/slf4j-log4j12-1.7.5.jar</string>
			<string>$JAVAROOT/slf4j-simple-1.5.8.jar</string>
			<string>$JAVAROOT/xalan-2.7.1.jar</string>
			<string>$JAVAROOT/xercesImpl-2.3.0.jar</string>
			<string>$JAVAROOT/xml-apis-1.3.04.jar</string>
		</array>
		<key>JVMVersion</key>
		<string>1.8</string>
		<key>MainClass</key>
		<string>griffon.application.SingleFrameApplication</string>
		<key>Properties</key>
		<dict>
			<key>com.apple.mrj.application.apple.menu.about.name</key>
			<string>PSICAT</string>
		</dict>
		<key>SplashFile</key>
		<string>psicat.gif</string>
		<key>WorkingDirectory</key>
		<string>$APP_PACKAGE/Contents/</string>
	</dict>
</dict>
</plist>
